# Virtual environment
.venv/

# Backend ignores
Backend/data/
Backend/models/
Backend/Not_Tracked_Models/

# Frontend ignores
Frontend/node_modules/

# Python cache
__pycache__/
*.py[cod]